* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0px;
}

h1 {
    text-decoration: none;
    font-weight: 400;
    font-family: 'Quattrocento';
    font-size: 96px;
    text-align: center;
    line-height: 100px;
    margin: 75px 0px;
}

h2 {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.55;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 40px 48px;
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 24px;
}


nav li:first-child {
    float: left;
    margin: 0px;
}

nav li:last-child {
    float: right;
    margin: 0px;
}

nav li::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: transparent;
    background-position: center;
}

nav li:hover::after {
    background-image: url(./HW2.2_img/_.svg);
    background-repeat: no-repeat;
}

nav a {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    opacity: 0.8;
    padding: 0 12px 11px;
} */

.font_green {
    color: #71870E;
}

.font_important {
    font-weight: bold;
    font-style: italic;
}


philosophy_text_part {
    display: flex;
    flex-direction: column;
}

.main_thought {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 107%;
    color: #000000;

}

.button {
    width: 225px;
    height: 75px;
    padding-top: 50px;


}

.button a {
    color: #D0A049;
    display: flex;
}

.button_line {
    margin-right: 30px;
}

/* .background_main {
    position: relative;
}

.background_main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./HW2.2_img/bg.jpg);
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;

} */

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
}

/* .intro h2 {
    opacity: 0.9;
    padding-left: 51.7%;
    
} */

/* padding-left: 51.7% - це розрахунок padding-left: 605px/1170px*/

/* .intro img {
    position: relative;
    display: block;
    margin: 75px auto;
    z-index: 2;
}

.menu a,
.intro {
    color: white;
}

.intro {
    position: relative;
} */



/* #intro_text {
    width: 81.25%;
    margin: 0 auto;
}

#pre_header {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
    top: 181px;
    padding-top: 62px;
}

#intro_decoration {
    overflow: hidden;
    font-family: 'Quattrocento';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    color: #71870E;
    margin: -276px 0px 0px 0px;
    padding-bottom: 75px;
    white-space: nowrap;
}

#about {
    margin-top: 205px;
} */


/* .grid {
    display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "philo thought";
  grid-template-rows: auto;
  grid-template-columns: 105px 1fr;
}

.grid > h2 {
    grid-area: philo;
}

.grid > p {
    grid-area: thought;
}

.philosophy_text_part {
    display: flex;
    flex-direction: column;
} */


#header {
    float: left;
    margin-right: 12px;
    padding-top: 4px;
}

.text_block {
    clear: both;
}

@media screen and (max-width: 800px) {

    .container {
        width: 100%;
    }



    .philosophy_text_part {
        padding: 25px 3.12%;
        display: flex;
        flex-direction: column;



    }

    .float {
        text-align: center;
    }

    .main_thought {
        font-size: 40px;
    }

    .font_important {
        font-weight: normal;
    }

    .text_block {
        margin-top: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: #000000;
        opacity: 0.85;
    }

    .text_block p {

        margin-bottom: 36px;
    }


    #header {
        display: none;
    }